<!DOCTYPE html>
<html>
<head>
    <title>Edit Contents | Admin</title>
    <%-include('../include/head')%>
    <script src="/ckeditor/ckeditor.js"></script>
</head>
<body>
    <%-include('../include/nav')%>
    <div class="container white mt-70 mb-50">
        <div class="grid">
            <div class="row-80">
                <div class="px-20">
                    <form action="/admin/contents/edit" method="post">
                        <input type="hidden" name="id" value="<%=content.id%>">
                        <input type="text" name="title" value="<%=content.title%>">
                        <textarea name="content" rows="5" id="editor"><%=content.content%></textarea>
                        <script>
                            CKEDITOR.replace( 'editor' );
                        </script>
                        <input type="submit" value="Edit" class="btn darkblue">
                    </form>
                </div>
            </div>
            <div class="row-20">
                <%-include('include/sidebar')%>
            </div>
        </div>
    </div>
    <%-include('../include/footer')%>
</body>
</html>