<!DOCTYPE html>
<html>
<head>
    <title>About | Sunny-Framework</title>
    <%-include('include/head')%>
</head>
<body>
    <%-include('include/nav')%>
    <div class="container white mt-70">
        <div class="grid-2">
            <div class="p-20">
                <h1 class="bl-red">About Us.</h1>
                
            </div>
            <div class="p-20">
                <h1 class="bl-green">Our Wriiters.</h1>
                <%
                profile.forEach((row) => {
                %>
                <!-- Profile -->
                <div class="profile">
                    <img src="<%=row.picture%>" alt="Profile of Admin ID:<%=row.admin%>" class="w-100">
                    <div>
                        <h2><%=row.name%></h2>
                        <p><%-row.bio%></p>
                    </div>
                </div>
                <%
                })
                %>
            </div>
        </div>
    </div>
    <%-include('include/footer')%>
</body>
</html>