<!DOCTYPE html>
<html>
<head>
    <title>Home | Sunny-Framework</title>
    <%-include('include/head')%>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <%-include('include/nav')%>
    <div class="container white p-30" id="mainpage">
        <div class="grid-8-4">
            <div class="row">
                <h1 class="bl-darkblue">Articles</h1>
                <div class="grid-3">
                    <%
                    contents.forEach((row) => {
                    %>
                    <div class="media">
                        <div class="cover"><img class="w-100" src="<%=row.cover%>" /></div>
                        <div class="content">
                          <h1 class="py-10 pt-0"><a href="/articles/<%=row.id%>"><%=row.title%></a></h1>
                          <a href="/articles/category/<%=row.category%>" class="capsule darkblue"><%=row.category%></a>
                          <p><%=row.contents.replace(/(<([^>]+)>)/ig,'').substring(0,200)%></p>
                        </div>
                      </div>
                    <%
                    })
                    %>
                </div>
            </div>
            <div class="row">
                <h1 class="bl-orange">Category</h1>
                    <%
                    category.forEach((row) => {
                    %>
                    <a href="/articles/category/<%=row.category%>" class="capsule darkblue"><%=row.category%></a>
                    <%
                    })
                    %>
            </div>
        </div>
    </div>
    <%-include('include/footer')%>
</body>
</html>