<!DOCTYPE html>
<html>
<head>
    <title>Home | Sunny-Framework</title>
    <%-include('include/head')%>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <%-include('include/nav')%>
    <%-include('include/alert')%>
    <div class="container white p-30" id="mainpage">
        <div class="media-x" id="big">
            <div class="cover" style="height: auto;"><img class="w-100" src="<%=contents[0].cover%>" /></div>
            <div class="content">
                <h1 class="py-10 pt-0"><a href="/articles/<%=contents[0].id%>" class="link"><%=contents[0].title%></a></h1>
                <a href="/articles/category/<%=contents[0].category%>" class="capsule darkblue"><%=contents[0].category%></a>
                <p><%=contents[0].contents.replace(/(<([^>]+)>)/ig,'').substring(0,500)%></p>
            </div>
        </div>
        <div class="grid-8-4">
            <div class="row">
                <h1 class="bl-darkblue">More Contents</h1>
                <div class="grid-3">
                    <%
                    contents.forEach((row) => {
                    %>
                    <div class="media">
                        <div class="cover"><img class="w-100" src="<%=row.cover%>" /></div>
                        <div class="content">
                          <h1 class="py-10 pt-0"><a href="/articles/<%=row.id%>"><%=row.title%></a></h1>
                          <a href="/articles/category/<%=row.category%>" class="capsule darkblue"><%=row.category%></a>
                          <p><%=row.contents.replace(/(<([^>]+)>)/ig,'').substring(0,200)%></p>
                        </div>
                      </div>
                    <%
                    })
                    %>
                </div>
            </div>
            <div class="row">
                <h1 class="bl-orange">Category</h1>
                    <%
                    category.forEach((row) => {
                    %>
                    <a href="/articles/category/<%=row.category%>" class="capsule darkblue"><%=row.category%></a>
                    <%
                    })
                    %>
            </div>
        </div>
    </div>
    <%-include('include/footer')%>
</body>
</html>