<!doctype html>
<html lang="en">
  <head>
    <title><%=result[0].title%></title>
    <%- include('include/head-scripts')%>
  </head>

  <body>
    <%-include('include/header')%>

      <section class="text-center py-5 text-white" style="background: url('<%=result[0].img%>'); background-size: cover;">
        <div class="container">
          <h1 class="p-2"><%=result[0].title%></h1>
          <p class="p-2 text-white"><%=result[0].time%> | <%=result[0].postby%></p>
        </div>
      </section>

      <div class="container my-4 keep-high">
        <%-include('include/breadcrumb')%>

        <%-result[0].content%>
      </div>

      <%-include('include/footer')%>

    <%- include('include/body-scripts')%>
  </body>
</html>

