<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <%if(locals.nav) {%>
      <%if(!locals.page && !locals.sub) {%>
      <li class="breadcrumb-item" style="text-transform: capitalize; color: #6c757d;" aria-current="page"><%=nav%></li>
      <%} else if((locals.page) || (locals.sub)) {%>
      <li class="breadcrumb-item"><a href="/<%=nav%>" style="text-transform: capitalize;"><%=nav%></a></li>
      <%
      }}
      %>
      <%if(locals.sub) {%>
        <li class="breadcrumb-item active" aria-current="page"><%=sub%></li>
      <%}%>
      <%if(locals.page) {%>
        <li class="breadcrumb-item active" aria-current="page"><%=page%></li>
      <%}%>
      <!-- <%if(locals.player) {%>
        <li class="breadcrumb-item active" aria-current="page"><%=player%></li>
      <%}%> -->
    </ol>
</nav>